.apply-now-section {
  padding: 140px 0;
  background-color: #000;

  .wrapper {

    @at-root .apply-conatiner {
      @include flexbox (flex,center, $justify:space-between);

      h2 {
        @include flex-basis (70%);
         color: $white;
         font-size: $large-medium - 4;
      }
    }
  }
}