header {
  width: 100%;
  padding: 18px 34px;
  background-color: transparent;
  position: fixed;

  .wrapper {
    width: 100%;
    @include flexbox (flex, center, $justify:space-between);

    @at-root {

      .logo { flex-basis: 19%;}

      .navlists {
        display: flex;

        a {
          padding: 17px;
          color: $white;
          font-size: $extra-small;
          font-weight: $semi-bold;
          text-transform: capitalize;
          @include transition (.5s);

          &:hover {
            color: $turquoise;
          }
        }

        @at-root .pages {
          &::after {
            @include icons ("\f107", $white, $small);
            padding: 2px; 
          }

          &:hover::after {
            color: $turquoise;
          }
        }

        @at-root .blogs {
          @extend .pages;
        }

        .faq {
          text-transform: uppercase;
        }
      }

      .contact {
        @at-root {
          .call-us {
            color: $white;
            font-size: $extra-small;
            font-weight: $semi-bold;
            @include transition (.5s);

            &::before {
              @include icons ("\f095  ", $turquoise, $small);
              padding-right: 10px;
            }

            &:hover {
            color: $turquoise;
            }
          }
        }
      }

      .apply-btn {
        padding: 15px 10px;
        border: 1px solid $turquoise;
        border-radius: 5px;
        margin: 0 15px 0 10px;
        color: $turquoise;
        font-size: $extra-small;
        font-weight: $semi-bold;
        @include transition (.5s);

        &:hover {
          background-color: $turquoise;
          color: $white;
        }
      }

      .hamburger {
        display: none;
      }
    }
  }

}