.how-it-work {
  padding: 172px 0 105px;
  background-color: lighten($lightblue, 36.8%);

  @at-root .works-lists {
    padding: 55px 0;
    @include flexbox (flex, center, $justify: space-between);

    li {
      width: 100%;
      margin: 0 40px;
      @include flexbox (flex, $direction:column);

      @at-root .list-num {
        padding: 20px 0;
        display: block;
        text-indent: -99999px;

        &::before {
          width: 72px;
          height: 72px;
          border-radius: 50%;
          @include flexbox (flex, center, $justify: center);
          float: left;
          background-color: lighten($lightblue, 33%);
          color: $lightblue;
          font-weight: $bold;
          text-indent: 0;
        }
      }

      h3 {
        color: $darkblue;
        font-size: $medium-large;
      }

      p {
        padding: 15px 0;
        line-height: 1.8;
      }

      &:first-child {
        margin-left: 0 ;
      }

    }

    @each $key,
    $value in $work-num {
      li:nth-child(#{$key}) .list-num {
        &::before {
          content: $value;
        }
      }
    }
    
  }
  
  @include responsiveMinMax (995px, 1280px) {
    @at-root  .works-lists li {
      margin: 0 20px;
    }
  }
  @include responsiveMinMax (768px, 995px) {
    padding: 130px 0 60px;

    @at-root .works-lists li {
      margin: 0 10px;
    }
  }
  @include responsiveMax (768px) {
    padding: 100px 0 60px;

    @at-root .works-lists {
      @include flex-direction (column);
      li {
        max-width: 320px;
        width: 100%;
        margin: 0 10px;
        @include flexbox ($align:center,$justify:center);
        text-align: center;
      }
    }
  }
}