/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 81%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

html.stop-scroll {
  overflow: hidden;
}

.btn {
  padding: 16px 32px;
  border: 1px solid #3ED4D6;
  border-radius: 5px;
  background-color: #3ED4D6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

header {
  width: 100%;
  padding: 18px 34px;
  background-color: transparent;
  position: fixed;
}
header .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.logo {
  flex-basis: 19%;
}

.navlists {
  display: flex;
}
.navlists a {
  padding: 17px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.navlists a:hover {
  color: #3ED4D6;
}
.pages::after, .blogs::after {
  content: "\f107";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 14px;
  padding: 2px;
}
.pages:hover::after, .blogs:hover::after {
  color: #3ED4D6;
}

.navlists .faq {
  text-transform: uppercase;
}

.call-us {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.call-us::before {
  content: "\f095  ";
  color: #3ED4D6;
  font-family: "FontAwesome";
  font-size: 14px;
  padding-right: 10px;
}
.call-us:hover {
  color: #3ED4D6;
}

.apply-btn {
  padding: 15px 10px;
  border: 1px solid #3ED4D6;
  border-radius: 5px;
  margin: 0 15px 0 10px;
  color: #3ED4D6;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.apply-btn:hover {
  background-color: #3ED4D6;
  color: #fff;
}

.hamburger {
  display: none;
}

.banner-section {
  padding: 200px 0;
  background-color: black;
  background-image: url;
  color: #fff;
}
.banner-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.banner-content {
  max-width: 50%;
  width: 100%;
  margin: 50px 0 0;
}
.banner-content h2 {
  padding: 42px 0;
  font-size: 60px;
}

.form-container {
  padding: 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: center;
  flex-wrap: center;
  background-color: #fff;
}
.form-container h3 {
  color: #071D38;
  font-size: 30px;
}
.form-container p {
  padding: 25px 0;
  color: #ACB1BC;
  font-weight: 600;
}
.form-container form {
  width: 100%;
  margin-top: 20px;
}
.amount, .month {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  appearance: none;
  background-color: transparent;
  color: #ACB1BC;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.month {
  margin: 15px 0;
}

.amount-view {
  margin: 23px 0 42px;
  display: block;
  color: #ACB1BC;
  font-weight: 600;
}

.form-container form .btn {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
